# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/

# Build output (React)
dist/
build/
out/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/

# Optional npm cache folder
.npm/

# PM2 process files (если используешь)
pm2.log
pm2.pid

# Debug files
*.pid
*.seed

# Other
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnpm-store/


data/
dump/
